/* Main Styles */

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #738FA7;
    --text-general: #fff;
    --text-highlight: #C3E0E5;
}

body { 
    background-color: #071330;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}

header,
main {
    width: 100%;
}

div.container {
    width: 100%;
}

/* Animated cursor project
.cursor {
    margin-right: 100px;
    border: none;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    opacity: 0.3;
    background: radial-gradient(circle, rgba(15,35,83,1) 0%, rgba(7,19,48,1) 100%);
    z-index: 0.5;
    position: fixed;
    pointer-events: none;
    box-shadow: 0 0 60px rgba(15,35,83,0.5),
                0 0 60px rgba(7,19,48,0.5) 100%;
                transform: translate(-50%, -50%);
}
*/

/* Nav Bar style */

nav {
    background: none;
    margin-top: 0;
}

div .navbar-collapse { 
    flex-grow: 0;
}

a {
    text-decoration: none;
}

li>a.nav-link,
li>a.nav-link:visited {
    color: var(--text-general);
    font-size: 0.8rem;
    line-height: 130%;
    margin: 30px 15px;
}

li>a.nav-link:hover {
    color: var(--header-color);
}

.navbar-brand {
    margin-left: 100px;
}

.navbar-brand img {
    height: 25%;
    width: 25%;
    margin-left: 30px;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
}

/* -- General Section height, width, margins, paddings -- */
.section__hero { 
    padding-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;

}

.section__about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    font-size: 0.9rem;
}

.section__about-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.section__education {
    width: 100%;
    padding-top: 20px;
}

.section__projects {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.section__projects-h2 {
    display: flex;
    justify-content: flex-end;
}

.section__contact {
    width: 75%;
    margin: 0 auto;
    padding-top: 60px;
}

.section__contact-h2,
.section__education-h2 {
    display: flex;
    justify-content: flex-start;
}

.section__education {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}


/* ----- Typography Settings ---------- */
p.section__about-text {
    color: var(--text-general);
    padding: 30px 0 10px 0;
}

h2 {
    color: var(--header-color);
}

#intro__heading,
#intro__heading-sub {
    color: var(--header-color);
    letter-spacing: 1px;
}

#intro__heading {
    font-size: 2.3rem;
    font-weight: 700;
    margin-top: 1em;
}

#intro__heading-sub {
    padding-left: 30px;
    font-size: 1.5em;
    font-weight: 500;
}

p#intro__heading-text {
    color: var(--text-general);
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 500;
}


/* --- Images --- */

div.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
img.myself {
    height: 300px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem #C3E0E5, -0.5rem -0.5rem #ccc;
}

.stack__icons-list_item img {
    height: 30px;
    margin-right: 0.5em;
} 

/*---- ANimations ---- */

.flipX {
        animation: 1s anim-flipX ease;
      }
      @keyframes anim-flipX {
        0% {
          opacity: 0;
          transform: rotateX(90def);
        }
        50% {
          opacity: 1;
          transform: rotateX(720deg);
        }
        100% {
          /* animate nothing to pause animation at the end */
          opacity: 1;
          transform: rotateX(720deg);
        }
      }




span.section__about-bullet {
    color: var(--text-highlight);
    padding-right: 5px
}

span.nav-no {
    padding-right: 2px;
    color: var(--text-highlight);
}

/* ----------- Buttons ----- */

#intro__heading-button {
    background-color: #738FA7;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 20px;
    border: none;
}

#intro__heading-button a {
    color: var(--text-general);
}

button.resume {
    background-color: #fff;
    color: #071330;
    
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: none;
}

button.resume:hover {
    background-color: var(--header-color);
    color: var(--text-general);
    transition: 0.8s;
}

i.fa-download {
    padding-left: 5px;
    font-size: 1rem;
}


.social-links {
    list-style: none;
    margin-top: 10px;
}

ul.unord_list {
    list-style: none;
}

a.list_nav {
    text-decoration: none;
    color: var(--text-highlight)
}

.section__about-h2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

@media screen and (max-width: 768px) {
    .section__hero {
        padding-left: 50px;
    }
 ul.social-links {
    display: flex;
    justify-content: space-between;
 }    
 li.social-icons {
        padding: 0 6px;
    }
}

li.stack__icons-list_item {
    display: inline;
}

hr {
    color: var(--text-general);

}

/* MAKE SURE YOUR TEXT IS CONSISTENT SIZING TO MAKE MEDIA QUERIES FASTER */
/* Should I make some root settings here for font families and colours?? Saves me typing them in all the time */


.projects__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

i.fa-brands {
    font-size: 1.5rem;
    padding: 5px;
    color: var(--header-color);
    transition: 0.8s
}

i:hover {
    color: var(--text-general);
}

.section__education-qualification p {
    color: var(--text-general);
}

.section__education-qualification h3 {
    color: var(--header-color);
    font-size: 1.4rem;
    margin-top: 0.75em;
}

.section__education {
    padding: 30px 0;
}

.card-title {
    font-size: 1.1rem;
    color: var(--text-general);
}

.card-text {
    font-size: 0.8rem;
    color: var(--text-general);
}

.card-body {
    background: radial-gradient(circle, rgba(15,35,83,1) 0%, rgba(7,19,48,1) 100%);
}



/* ------- Offcanvas -------- */

.offcanvas__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.offcanvas__button-toggle {
    background-color: var(--header-color);
}



.card-img-top {
    height: 220px;
    object-fit: cover;
    object-position: 30% 0;
}

.tech-stack {
    border: none;
    background-color: var(--header-color);
    color: var(--text-general);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-top: 8px;
}

button.tech-stack  {
    cursor: none;
    pointer-events: none;
}

footer {
    color: var(--text-highlight);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

footer>span {
    color: var(--text-general);
}

.section__contact-form {
    display: flex;
    justify-content: center;
}

.form-label {
    color: var(--header-color)
}

.section__contact-div h2,
.section__contact-div p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-highlight);
}

.section__contact-div h3 {
    text-align: center;
    color: var(--text-highlight);
}

.section__contact-div a {
    color: #C3E0E5;
}


i.fa-bars {
    color: #071330;
    font-size: 2rem;
}

.fa-arrow-up-right-from-square,
.fa-github {
    color: var(--text-highlight);
    font-size: 0.8rem;
}

.live_preview a,
.github_repo a {
    color: var(--text-highlight);
    font-size: 0.8rem;
}
p.live_preview {
    margin-bottom: 0;
}

.section__hero-main {
    padding-left: 1em;
    text-align: center;
}

/* Section styles */

/* Footer styles */

@media screen and (max-width: 997px) {
    .stack__icons-list_item img {
        height: 20px;
        margin-top: 0.5em;
    }
}

@media screen and (max-width: 769px) {
    h2 {
    font-size: 1.2rem;
}
.section__projects-container {
    flex-direction: column;
}
}

@media screen and (max-width: 567px) {
    .section__hero {
        padding-left: 0;
        margin-left: 0;
    }
}

@media screen and (min-width: 997px) {
    .stack__icons-list_item img {
        margin-top: 1rem;
    }
}

/* --- Go to top button --- */
#myBtn {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 9999; 
    border: none; 
    outline: none;
    background-color: var(--header-color); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 12px; 
  }
  
  #myBtn:hover {
    background-color: var(--text-highlight);
  }
  #myBtn:visited {
    background-color: var(--header-color);
  }

