html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-color: #738FA7;
    --text-general: #fff;
    --text-highlight: #C3E0E5;
}

body { 
    background-color: #071330;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}

header,
main {
    width: 100%;
}

/* Animated cursor project
.cursor {
    margin-right: 100px;
    border: none;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    opacity: 0.3;
    background: radial-gradient(circle, rgba(15,35,83,1) 0%, rgba(7,19,48,1) 100%);
    z-index: 0.5;
    position: fixed;
    pointer-events: none;
    box-shadow: 0 0 60px rgba(15,35,83,0.5),
                0 0 60px rgba(7,19,48,0.5) 100%;
                transform: translate(-50%, -50%);
}
*/

nav {
    background: none;
    margin-top: 0;
}

div .navbar-collapse { 
    flex-grow: 0;
}

a {
    text-decoration: none;
}

li>a.nav-link,
li>a.nav-link:visited {
    color: var(--text-general);
    font-size: 0.8rem;
    line-height: 130%;
    margin: 30px 15px;
}

li>a.nav-link:hover {
    color: var(--header-color);
}

/* -- General Section height, width, margins, paddings -- */
.section__hero { 
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
}

.section__about {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    padding-top: 20px;
    font-size: 0.9rem;
}

.section__about-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

p.section__about-text {
    color: var(--text-general);
    padding: 30px 0;
}

h2 {
    color: var(--header-color);
}

div.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
img.myself {
    height: 300px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem #C3E0E5, -0.5rem -0.5rem #ccc;
}

.stack__icons-list_item img {
    height: 30px;
    padding-right: 10px;
} 



.section__education {
    width: 100%;
    padding-top: 20px;
}

.section__projects {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}

.section__projects-h2 {
    display: flex;
    justify-content: flex-end;
}

.section__contact {
    width: 75%;
    margin: 0 auto;
    padding-top: 60px;
}

.section__contact-h2 {
    display: flex;
    justify-content: flex-start;
}

.section__education {
    width: 75%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.section__education-h2 {
    display: flex;
    justify-content: flex-start;
}

#intro__heading,
#intro__heading-sub {
    color: var(--header-color);
    letter-spacing: 1px;
}

#intro__heading {
    font-size: 2.3rem;
    font-weight: 700;
}

#intro__heading-sub {
    padding-left: 30px;
    font-size: 1.5em;
    font-weight: 500;
}

p#intro__heading-text {
    color: var(--text-general);
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 500;
}

span.section__about-bullet {
    color: var(--text-highlight);
    padding-right: 5px
}

span.nav-no {
    padding-right: 2px;
    color: var(--text-highlight);
}

#intro__heading-button {
    background-color: #738FA7;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 20px;
    border: none;
}

#intro__heading-button a {
    color: var(--text-general);
}

button.resume {
    background-color: #fff;
    color: #071330;
    
    border-radius: 8px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: none;
}

button.resume:hover {
    background-color: var(--header-color);
    color: var(--text-general);
    transition: 0.8s;
}

ul.navbar-nav {
    display: flex;
    align-items: center;
}

i.fa-download {
    padding-left: 5px;
    font-size: 1rem;
}

.navbar-brand {
    margin-left: 100px;
}

.navbar-brand img {
    height: 25%;
    width: 25%;
    margin-left: 30px;
}

div.container {
    width: 100%;
}

.social-links {
    list-style: none;
    margin-top: 10px;
}

.section__about-h2 {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 768px) {
    .section__hero {
        padding-left: 50px;
    }
 ul.social-links {
    display: flex;
    justify-content: space-between;
 }    
 li.social-icons {
        padding: 0 6px;
    }
}

li.stack__icons-list_item {
    display: inline;
}

hr {
    color: var(--text-general);

}

/* MAKE SURE YOUR TEXT IS CONSISTENT SIZING TO MAKE MEDIA QUERIES FASTER */
/* Should I make some root settings here for font families and colours?? Saves me typing them in all the time */


.projects__card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
}

i.fa-brands {
    font-size: 1.5rem;
    padding: 5px;
    color: var(--header-color);
    transition: 0.8s
}

i:hover {
    color: var(--text-general);
}

.section__education-qualification p {
    color: var(--text-general);
}

.section__education-qualification h3 {
    color: var(--header-color);
    font-size: 1.4rem;
}

.section__education {
    padding: 30px 0;
}

.card-title {
    font-size: 1.1rem;
    color: var(--text-general);
}

.card-text {
    font-size: 0.8rem;
    color: var(--text-general);
}

a.live_preview,
a.github_repo {
    color: var(--text-highlight);
}

.card-body {
    background: radial-gradient(circle, rgba(15,35,83,1) 0%, rgba(7,19,48,1) 100%);
}

.offcanvas__button {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}


.card-img-top {
    height: 220px;
    object-fit: cover;
    object-position: 30% 0;
}

.tech-stack {
    border: none;
    background-color: var(--header-color);
    color: var(--text-general);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 0.8rem;
    margin-top: 8px;
}

button.tech-stack  {
    cursor: none;
    pointer-events: none;
}

footer {
    color: var(--text-highlight);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

footer>span {
    color: var(--text-general);
}

.section__contact-div h2,
.section__contact-div p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__contact-div a {
    color: #C3E0E5;
}

.offcanvas__button-toggle {
    background-color: var(--header-color);
}

i.fa-bars {
    color: #071330;
    font-size: 2rem;
}

div.section__contact-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}